@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #646970;
  background-color: #f0f6fc;
}

.companyContainer {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5px;
  margin: 0 auto;
  padding-top: 1rem;
}

.company-card {
  width: 100%;
  height: 180px;
  text-align: center;
  padding-top: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.company-card li {
  list-style: none;
  margin-bottom: 10px;
}

.company-card:hover {
  transform: translateY(-2px);
}

a {
  text-decoration: none;
  color: #646970;
}

@media (min-width: 2434px) {
  .company-card:nth-child(16n + 2),
  .company-card:nth-child(16n + 4),
  .company-card:nth-child(16n + 6),
  .company-card:nth-child(16n + 7),
  .company-card:nth-child(16n + 8),
  .company-card:nth-child(16n + 9),
  .company-card:nth-child(16n + 11),
  .company-card:nth-child(16n + 13),
  .company-card:nth-child(16n + 15) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(16n + 1),
  .company-card:nth-child(16n + 3),
  .company-card:nth-child(16n + 5),
  .company-card:nth-child(16n + 7),
  .company-card:nth-child(16n + 10),
  .company-card:nth-child(16n + 12),
  .company-card:nth-child(16n + 14),
  .company-card:nth-child(16n + 16) {
    background-color: #c5d9ed;
  }
}

@media (max-width: 2433px) {
  .company-card:nth-child(12n + 2),
  .company-card:nth-child(12n + 4),
  .company-card:nth-child(12n + 6),
  .company-card:nth-child(12n + 7),
  .company-card:nth-child(12n + 8),
  .company-card:nth-child(12n + 10),
  .company-card:nth-child(12n + 12),
  .company-card:nth-child(12n + 14) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(12n + 1),
  .company-card:nth-child(12n + 3),
  .company-card:nth-child(12n + 5),
  .company-card:nth-child(12n + 7),
  .company-card:nth-child(12n + 9),
  .company-card:nth-child(12n + 11),
  .company-card:nth-child(12n + 13) {
    background-color: #c5d9ed;
  }
}

@media (max-width: 2125px) {
  .company-card:nth-child(12n + 2),
  .company-card:nth-child(12n + 4),
  .company-card:nth-child(12n + 6),
  .company-card:nth-child(12n + 7),
  .company-card:nth-child(12n + 9),
  .company-card:nth-child(12n + 11) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(12n + 1),
  .company-card:nth-child(12n + 3),
  .company-card:nth-child(12n + 5),
  .company-card:nth-child(12n + 8),
  .company-card:nth-child(12n + 10),
  .company-card:nth-child(12n + 12) {
    background-color: #c5d9ed;
  }
}

@media (max-width: 1817px) {
  .company-card:nth-child(8n + 2),
  .company-card:nth-child(8n + 4),
  .company-card:nth-child(8n + 6),
  .company-card:nth-child(8n + 8),
  .company-card:nth-child(8n + 10) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(8n + 1),
  .company-card:nth-child(8n + 3),
  .company-card:nth-child(8n + 5),
  .company-card:nth-child(8n + 7),
  .company-card:nth-child(8n + 9) {
    background-color: #c5d9ed;
  }
}

@media (max-width: 1509px) {
  .company-card:nth-child(8n + 2),
  .company-card:nth-child(8n + 4),
  .company-card:nth-child(8n + 5),
  .company-card:nth-child(8n + 7) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(8n + 1),
  .company-card:nth-child(8n + 3),
  .company-card:nth-child(8n + 6),
  .company-card:nth-child(8n + 8) {
    background-color: #c5d9ed;
  }
}

@media (max-width: 1201px) {
  .company-card {
    grid-template-columns: repeat(3, 1fr);
  }

  .company-card:nth-child(8n + 2),
  .company-card:nth-child(8n + 4),
  .company-card:nth-child(8n + 6),
  .company-card:nth-child(8n + 8) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(8n + 1),
  .company-card:nth-child(8n + 3),
  .company-card:nth-child(8n + 5),
  .company-card:nth-child(8n + 7) {
    background-color: #c5d9ed;
  }
}

@media (max-width: 893px) {
  .companyContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .company-card:nth-child(8n + 2),
  .company-card:nth-child(8n + 3),
  .company-card:nth-child(8n + 6),
  .company-card:nth-child(8n + 7) {
    background-color: #f0f6fc;
  }

  .company-card:nth-child(8n + 1),
  .company-card:nth-child(8n + 4),
  .company-card:nth-child(8n + 5),
  .company-card:nth-child(8n + 8) {
    background-color: #c5d9ed;
  }
}
