@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #646970;
  background-color: #f0f6fc;
}

.nav-bar {
    display: flex;
    gap: 10%;
    align-items: center;
    list-style: none;
    height: 80px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Papyrus', fantasy, sans-serif;
    font-size: 28px;
    padding-right: 15px;
  }

.companyContainer {
    margin: 2% auto;
    width: 90%;
    height: 100%;
    display: grid;
    padding: 10px auto;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.company-card {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.company-card li {
    list-style: none;
    margin-bottom: 10px;
}

.company-card:nth-child(odd) {
    background-color: #c5d9ed;
    border: 1px solid #fff;
}

.company-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    border: 2px solid #fff;
  }  

a {
    text-decoration: none;
    color: #646970;
}

@media (min-width: 768px) {

    .company-card:nth-child(2n + 1),
    .company-card:nth-child(2n + 3),
    .company-card:nth-child(2n + 5),
    .company-card:nth-child(2n + 7) {
        background-color: #c5d9ed;
        border: 1px solid #fff;
    }

    .nav-bar {
        display: flex;
        gap: 10%;
        align-items: center;
        list-style: none;
        height: 80px;
        width: 60%;
        margin: 0 auto;
        font-family: 'Papyrus', fantasy, sans-serif;
        font-size: 28px;
        padding-right: 15px;
      }
}
