/* .subject {
    font-family: 'Papyrus', fantasy, sans-serif;
    font-size: 28px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 80px;
    width: 90%;
    margin: 0 auto;
} */